/* Add CSS Styling */
.odd{
    background-color: rgb(243, 139, 139);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second{
    font-size: 36px;
    color: rgb(0,0,255);
}

.pixel24{
    font-size: 24px;
}

#fourth{
    background-color: rgb(189, 237, 146);
    font-weight: bold;
}